section.others
  .others__container.container
    h2.others__title.title-section Другие экскурсии

    .others__list

      a.others__item.others-item(href="roof.html")
        img.others-item__img(src="./assets/img/excursions/01.jpg")
        h3.others-item__title Экскурсия по крышам
        span.others-item__price от 800 ₽

      a.others__item.others-item(href="svidanie.html")
        img.others-item__img(src="./assets/img/excursions/04.jpg")
        h3.others-item__title Свидание на крыше
        span.others-item__price от 4500 ₽

      a.others__item.others-item(href="bridge.html")
        img.others-item__img(src="./assets/img/excursions/06.jpg")
        h3.others-item__title Развод мостов с крыши
        span.others-item__price 1400 ₽
