.error
  .error__container.container
    p.error__text Упс! Что-то пошло не так!
    p.error__text Позвоните нам для оформления заявки
      a.error__tel(href="tel:+79255536220") 8 (925) 553-62-20
    button.error__button.button.button--accent ОК
