-
  const descRoof = {
    name: "roof",
    title: ' Экскурсия по крышам',
    slides: [ './assets/img/gallery/group/08.jpg',
      './assets/img/gallery/group/02.jpg',
      './assets/img/gallery/group/03.jpg',
      './assets/img/gallery/group/04.jpg',
      './assets/img/gallery/group/05.jpg',
      './assets/img/gallery/group/06.jpeg',
      './assets/img/gallery/group/07.jpg',
      './assets/img/gallery/group/01.jpg'],

    prices: [ '800₽* - В составе группы до 15 человек',
      '1500₽* - Индивидуальная для 2-3 человек',
      '1200₽* - Индивидуальная для 4 и более человек'],

    descText: [ 'Экскурсии по крышам — возможность открыть новые горизонты, обрести другой вгляд на привычный город, гид расскажет вам много интересных фактов о городе. Вы сможете сделать снимки, которые сохранят воспоминания об этом моменте.',
      'Вид с крыши будет на Невский проспект, площадь Восстания, Владимирский собор, а так же на всю панораму города.',
      'На экскурсии будет одна система крыш из четырёх домов. Продолжительность экскурсии 1 час'],
    meetText: 'В районе станции метро "Площадь Восстания"'
  }



+descExc (descRoof)
