-
  const descParadnye = {
    name: "paradnye",
    title: 'По парадным, дворам и коммуналка',
    slides: [ './assets/img/gallery/paradnye/01.jpeg',
              './assets/img/gallery/paradnye/02.jpeg',
              './assets/img/gallery/paradnye/03.jpeg',
              './assets/img/gallery/paradnye/04.jpeg',
              './assets/img/gallery/paradnye/05.jpg',
              './assets/img/gallery/paradnye/06.jpeg',
              './assets/img/gallery/paradnye/07.jpg',
              './assets/img/gallery/paradnye/08.jpg'],

    prices: [ '1000₽* - В составе группы',
      'Индивидуальная экскурсия временно не проводится'],

    descText: [ 'На экскурсии будут наиболее интересные и красивые дворы и парадные доходных домов конца XIX, начала XX века в районе станции метро Владимирская. Плюс коммунальная квартира Грекова на Колокольной улице. Также на экскурсии Вы зайдёте в парадную доходного дома Елисеева на ул. Ломоносова.',
    'Продолжительность экскурсии 1 час 40 минут.'],
    meetText: 'В районе станции метро "Владимирская"',
  }



+descExc (descParadnye)
