-
  const descBridge = {
    name: "bridge",
    title: 'Просмотр разводных мостов с крыши',
    slides: [ './assets/img/gallery/bridge/01.webp'],

    prices: [ '1400₽* - В составе группы'],

    descText: [ 'Один из способов времяпрепровождения в ночное время суток в Петербурге - посещение настоящего зрелища - развода мостов над Невой.',
                'Крыша, на которой проходит просмотр, расположена максимально близко к первому постоянному мосту через Неву  - Благовещенскому. Во время разведения мостов открывается вид на акваторию Большой Невы, Исаакиевский собор и великолепную набережную. Помимо этого, Вы увидите Петербург с подсветкой с высоты птичьего полёта.'],
    meetText: 'В районе станции метро "Василеостровская"',
  }


+descExc (descBridge)
