-
  const descSvidanie = {
    name: "svidanie",
    title: 'Свидание на крыше',
    slides: [ './assets/img/gallery/svidanie/01.webp',
      './assets/img/gallery/svidanie/02.webp',
      './assets/img/gallery/svidanie/03.webp',
      './assets/img/gallery/svidanie/04.webp',
    ],

    prices: [ '4500₽ - Аренда крыши для двоих, пледы и подушки, сок, конфеты',
              '6500₽ - Аренда крыши для двоих, пледы и подушки, напитки на выбор: шампанское/вино/сок, фрукты или сыр, конфеты'],

    descText: [ 'Продолжительность свидания 1,5 часа.', 'Время проведения свидания по договоренности.'],
    meetText: 'В районе станции метро "Василеостровская"',
  }



+descExc (descSvidanie)
