.desc
  padding-top: 120px
  @media (max-width: 980px)
    padding-top: 90px

  &__title
    margin-bottom: 40px
    @include fontSize(20, 28)
    @media (max-width: $width-mobile)
      margin-bottom: 24px

  &__content
    display: grid
    grid-template-columns: 60% 1fr
    grid-gap: 0 32px
    @media (max-width: $width-mobile)
      display: flex
      flex-direction: column


  &__slider
    position: relative
    grid-column: 1/2
    grid-row: 1/3
    height: 380px
    @media (max-width: 768px)
      height: 300px
    @media (max-width: 480px)
      height: 250px
    @media (max-width: 400px)
      height: 190px

  &__slide
    overflow: hidden
    border-radius: 6px
    img
      width: 100%
      height: 100%
      object-fit: cover

  .slider-nav__prev
    left: 16px

  .slider-nav__next
    right: 16px

  &__price
    max-width: 690px
    @media (max-width: $width-mobile)
      margin-top: 80px
    &-title
      @include fontSize(20, 24)
      text-align: center
      margin-bottom: 24px

    &-list
      display: flex
      flex-direction: column
      gap: 16px

    &-item
      @include fontSize(14, 20)
      &:not(:last-child),
      &:first-child
        border-bottom: 1px solid #9B9B9B
        padding-bottom: 12px

    &-note
      margin-top: 32px
      @media (max-width: 480px)
        font-size: 14px
        margin-top: 24px


  &__button
    grid-column: 2 / 3
    height: fit-content
    width: fit-content
    margin: auto auto 0
    @media (max-width: $width-mobile)
      margin-top: 32px

  .swiper-pagination
    margin-top: 32px

  &__text
    margin-top: 80px
    @include fontSize(14, 16)
    @media (max-width: $width-mobile)
      margin-top: 48px
    p:not(:last-child)
      margin-bottom: 8px

  .schedule
    grid-column: 1 / 2

  &__meet
    grid-column: 1 / 2
    margin-top: 72px
    text-align: center
    display: flex
    flex-direction: column
    gap: 16px
    @media (max-width: $width-mobile)
      margin-top: 48px
    &-title
      position: relative
      @include fontSize(20, 24)
      width: fit-content
      margin: 0 auto
      svg
        position: absolute
        right: 0
        top: 0
        transform: translate(150%, -20%)
        cursor: pointer
        &:hover + .desc__meet-title-hint-text
          display: inline-block
      &-hint-text
        position: absolute
        display: none
        transform: translate(20%, -50%)
        bottom: 0
        font-size: 10px
        max-width: 170px
        width: 100%
        border: 1px solid $accent
        padding: 5px
        border-radius: 4px
        background-color: $bg-grey
        @media (max-width: 480px)
          font-size: 8px
          max-width: 140px
        @media (max-width: 768px)
          transform: translate(-50%, -43px)

    &-text
      @include fontSize(14, 20)



