.popup-call
  .popup-call__content
    button.popup-call__close X

    form.popup-call__form(method='POST' action='' enctype="multipart/form-data" autocomplete="off")

      label
        span Ваше имя
        input(placeholder="Дмитрий")

      label
        span Телефон
        input(placeholder="+7 999 999 99 99")

      button.popup-call__button(type="submit") Заказать звонок





