.hero(style="background-image: url('./assets/img/hero-img.jpg')")
  .hero__container.container

    h1.hero__title Прогулки по крышам Питера
    p.hero__subtitle Незабываемые эмоции здесь!
    .hero__actions
      button.button.button--accent.hero__button.hero__button--accent.js-popup-active Записаться
      a.button.hero__button.button--outline.hero__button--telegram(href="https://t.me/sinceresv") Telegram
      img.hero__telegram(src="./assets/img/icons/social/telegram.svg")
