section.reviews#reviews
  .reviews__container.container
    h2.title-section Отзывы

    .reviews__slider.swiper
      .swiper-wrapper

        .swiper-slide
          img(src="./assets/img/reviews/01.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/02.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/03.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/04.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/05.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/06.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/07.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/08.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/09.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/10.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/11.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/12.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/13.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/14.jpg")
        .swiper-slide
          img(src="./assets/img/reviews/15.jpg")

      .swiper-pagination

    button.reviews__button.button.button--accent.js-popup-active Записаться


