.reviews
  .reviews__container.container
    h2.title-section Фотогалерея

    .reviews__slider.swiper
      .swiper-wrapper

        .swiper-slide
          img(src="./assets/img/reviews/01.jpg")

        .swiper-slide
          img(src="./assets/img/reviews/02.jpg")

        .swiper-slide
          img(src="./assets/img/reviews/03.jpg")

      //.swiper-navigation
      //  .slider-nav__prev
      //  .slider-nav__next

      .swiper-pagination

