section.reviews#reviews
  .reviews__container.container
    h2.title-section Отзывы

    .reviews__slider.swiper
      .swiper-wrapper

        .swiper-slide
          img(src="./assets/img/reviews/01.webp")
        .swiper-slide
          img(src="./assets/img/reviews/02.webp")
        .swiper-slide
          img(src="./assets/img/reviews/03.webp")
        .swiper-slide
          img(src="./assets/img/reviews/04.webp")
        .swiper-slide
          img(src="./assets/img/reviews/05.webp")
        .swiper-slide
          img(src="./assets/img/reviews/06.webp")
        .swiper-slide
          img(src="./assets/img/reviews/07.webp")
        .swiper-slide
          img(src="./assets/img/reviews/08.webp")
        .swiper-slide
          img(src="./assets/img/reviews/09.webp")
        .swiper-slide
          img(src="./assets/img/reviews/10.webp")
        .swiper-slide
          img(src="./assets/img/reviews/11.webp")
        .swiper-slide
          img(src="./assets/img/reviews/12.webp")
        .swiper-slide
          img(src="./assets/img/reviews/13.webp")
        .swiper-slide
          img(src="./assets/img/reviews/14.webp")
        .swiper-slide
          img(src="./assets/img/reviews/15.webp")

      .swiper-pagination

    button.reviews__button.button.button--accent.js-popup-active Записаться


