.excursions
  .excursions__container.container
    h2.excursions__title.title-section Экскурсии

    .excursions__list

      a.excursions__item.excursions-item(href="group.html")
        img.excursions-item__img(src="./assets/img/excursions/01.jpg")
        h3.excursions-item__title Групповая экскурсия по крышам
        span.excursions-item__price от 800 ₽

      a.excursions__item.excursions-item(href="##")
        img.excursions-item__img(src="./assets/img/excursions/02.jpg")
        h3.excursions-item__title Индивидуальная экскурсия по крышам
        span.excursions-item__price от 1300 ₽

      a.excursions__item.excursions-item(href="##")
        img.excursions-item__img(src="./assets/img/excursions/03.jpg")
        h3.excursions-item__title По парадным, дворам и коммуналка
        span.excursions-item__price от 1000 ₽

      a.excursions__item.excursions-item(href="##")
        img.excursions-item__img(src="./assets/img/excursions/03.jpg")
        h3.excursions-item__title Парадные, крыши и дворы
        span.excursions-item__price 1700 ₽

      a.excursions__item.excursions-item(href="##")
        img.excursions-item__img(src="./assets/img/excursions/04.jpg")
        h3.excursions-item__title Свидание на крыше
        span.excursions-item__price от 4500 ₽

      a.excursions__item.excursions-item(href="##")
        img.excursions-item__img(src="./assets/img/excursions/05.jpg")
        h3.excursions-item__title Фотосессия на крыше
        span.excursions-item__price 4500 ₽
