extends ../layouts/page-inner

block variables
  - var title = "Развод мостов с крыши"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/desc/desc-bridge
  include ../components/others/others-bridge

  include ../components/reviews/reviews
  include ../components/accordion/accordion
