extends ../layouts/main

block variables
  - var title = "Групповая экскурсия по крышам"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/desc/desc

  include ../components/reviews/reviews
  include ../components/accordion/accordion



