extends ../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/hero/hero
  include ../components/excursions/excursions
  include ../components/gallery/gallery
  include ../components/steps/steps
  include ../components/reviews/reviews



