extends ../layouts/page-inner

block variables
  - var title = "Экскурсия по парадным и дворам Спб"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/desc/desc-paradnye
  include ../components/others/others-paradnye

  include ../components/reviews/reviews
  include ../components/accordion/accordion



