extends ../layouts/page-inner

block variables
  - var title = "Экскурсия по крышам Спб"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/desc/desc-roof
  include ../components/others/others-roof

  include ../components/reviews/reviews
  include ../components/accordion/accordion



