section.steps
  .steps__container.container
    h2.title-section Как открыть новые эмоции?

    ul.steps__list
      li.steps__item
        img.steps__icon(src="./assets/img/icons/steps/01.svg")
        h3.steps__title Оставьте заявку
        p.steps__desc Выбирайте время и дату желаемой экскурсии

      li.steps__item
        img.steps__icon(src="./assets/img/icons/steps/02.svg")
        h3.steps__title Забронируйте
        p.steps__desc Свяжемся с Вами в течении 15 минут и забронируем экскурсию

      li.steps__item
        img.steps__icon(src="./assets/img/icons/steps/03.svg")
        h3.steps__title Получите эмоции
        p.steps__desc Вас встретит гид и покажет город с другого ракурса

    button.steps__button.button.button--accent.js-popup-active Записаться

