header.header
  .header__container.container

    .header__logo
      //img(src="").header__logo-icon

    button.header__burger
      span.header__burger-line
      span.header__burger-line
      span.header__burger-line
      span.header__burger-line

    nav.header__nav

      img.header__nav-arrow(src="./assets/img/icons/arrow_forward.svg")

      ul.header__nav-list
        li.header__nav-item
          a.header__nav-link(href="##") Экскурсии
        li.header__nav-item
          a.header__nav-link(href="##") Фотогалерея
        li.header__nav-item
          a.header__nav-link(href="##") Отзывы
        li.header__nav-item
          a.header__nav-link(href="##") FAQ
        li.header__nav-item
          a.header__nav-link(href="##") Контакты


    a.header__phone(href="tel:+79255536220")
      img(src="./assets/img/icons/phone.svg")
      span Заказать звонок

