header.header
  .header__container.container

    a.header__logo(href="index.html")
      img(src="./assets/img/icons/logo.svg").header__logo-icon

    button.header__burger
      span.header__burger-line
      span.header__burger-line
      span.header__burger-line

    nav.header__nav

      img.header__nav-arrow(src="./assets/img/icons/arrow_forward.svg")

      ul.header__nav-list
        li.header__nav-item
          a.header__nav-link(href="index.html#excursions") Экскурсии
        li.header__nav-item
          a.header__nav-link(href="#gallery") Фотогалерея
        li.header__nav-item
          a.header__nav-link(href="#reviews") Отзывы
        li.header__nav-item
          a.header__nav-link(href="#faq") FAQ
        li.header__nav-item
          a.header__nav-link(href="#contacts") Контакты


    button.header__phone(type="button")
      img(src="./assets/img/icons/phone.svg")
      span Заказать звонок

include ../popup-call/popup-call
include ../popup-full/popup-full

