// ---- Form ----------

// Name
mixin inputName
  label.feedback-form__field.feedback-form__field--name
    span Имя*
    input(placeholder="Дмитрий" name="name" pattern="[A-Za-zA-Яа-яЁё]" autocomplete='off' maxlength='40' required )

// Tel
mixin inputTel
  label.feedback-form__field.feedback-form__field--tel
    span Телефон*
    input(type='tel' name='phone' placeholder="+7(___)___-__-__" data-tel-input='' pattern='.{18,}' maxlength='18'  autocomplete='off' required )


mixin selectExcursions
  label.feedback-form__field.feedback-form__field--selectExcursions
    span Экскурсия
    select(name="excursions")
      option(value="Не выбрано") Не выбрано
      option(value="По крышам") По крышам
      option(value="Парадные и дворы, крыши") Парадные и дворы + крыши
      option(value="По парадным и дворам + коммуналка") По парадным и дворам + коммуналка


mixin format
  label.feedback-form__field.feedback-form__field--format
    span Формат экскурсии
    select(name="format")
      option(value="Не выбрано") Не выбрано
      option(value="Групповая") Групповая (до 15 чел)
      option(value="Индивидуальная") Индивидуальная (вы и гид)


mixin date
  label.feedback-form__field.feedback-form__field--date
    span Дата экскурсии
    input(type="date" name='date' placeholder="31.05.2023" autocomplete='off')

// Count
mixin count
  label.feedback-form__field.feedback-form__field--count
    span Сколько человек?
    input(type="number" name='count' placeholder="2" autocomplete='off')


mixin time
  label.feedback-form__field.feedback-form__field--time
    span Ориентировочное время
    input( name='time' placeholder="15:00" autocomplete='off')





// Text
mixin inputText
  .feedback-form__input-container
    textarea( placeholder="Пожалуйста, введите запрос*" name="message" maxlength='200' rows="4")

