.gallery#gallery
  .gallery__container.container
    h2.title-section Фотогалерея

    .gallery__slider.swiper
      .swiper-wrapper

        .swiper-slide
          img(src="./assets/img/gallery/index/01.jpg")

        .swiper-slide
          img(src="./assets/img/gallery/index/02.jpg")

        .swiper-slide
          img(src="./assets/img/gallery/index/03.jpg")

      .swiper-navigation
        .slider-nav__prev
        .slider-nav__next

      .swiper-pagination

