.gallery#gallery
  .gallery__container.container
    h2.title-section Фотогалерея

    .gallery__slider.swiper
      .swiper-wrapper

        .swiper-slide
          img(src="./assets/img/gallery/index/01.webp")
        .swiper-slide
          img(src="./assets/img/gallery/index/02.webp")
        .swiper-slide
          img(src="./assets/img/gallery/index/03.webp")
        .swiper-slide
          img(src="./assets/img/gallery/index/04.webp")
        .swiper-slide
          img(src="./assets/img/gallery/index/05.webp")
        .swiper-slide
          img(src="./assets/img/gallery/index/06.webp")
        .swiper-slide
          img(src="./assets/img/gallery/index/07.webp")
        .swiper-slide
          img(src="./assets/img/gallery/index/08.webp")

      .swiper-navigation
        .slider-nav__prev
        .slider-nav__next

      .swiper-pagination

