.footer
  background-color: $bg-black
  padding: 48px 0 16px


  &__menu
    display: flex
    gap: 96px
    font-weight: 500
    @media (max-width: 480px)
      flex-direction: column
      gap: 24px

  &__nav-list,
  &__contacts
    display: flex
    flex-direction: column
    gap: 16px

  &__politics
    display: block
    margin-top: 114px
    font-size: 12px
    @media (max-width: 480px)
      margin-top: 32px

