footer.footer
  .footer__container.container

    .footer__menu

      nav.footer__nav
        ul.footer__nav-list
          li.footer__nav-item
            a.footer__nav-link(href="index.html#excursions") Экскурсии
          li.footer__nav-item
            a.footer__nav-link(href="index.html#gallery") Фотогалерея
          li.footer__nav-item
            a.footer__nav-link(href="reviews") Отзывы
          li.footer__nav-item
            a.footer__nav-link(href="#faq") FAQ

      ul.footer__contacts
        li.footer__contacts-title#contacts Контакты
        li.footer__contacts-item
          a.footer__contacts-link(href="tel:+79255536220") +7 925 553 62 20
        li.footer__contacts-item
          a.footer__contacts-link.footer__contacts-link--telegram(href="https://t.me/sinceresv") Телеграм
        li.footer__contacts-item
          a.footer__contacts-link.footer__contacts-link--whatsapp(href="https://wa.me/79255536220") WhatsApp

    svg.footer__logo
      use(href='./assets/img/sprite.svg#logo')

    a.footer__politics(href="##") Политика конфиденциальности
