footer.footer
  .footer__container.container

    .footer__menu

      nav.footer__nav
        ul.footer__nav-list
          li.footer__nav-item
            a.footer__nav-link(href="##") Экскурсии
          li.footer__nav-item
            a.footer__nav-link(href="##") Фотогалерея
          li.footer__nav-item
            a.footer__nav-link(href="##") Отзывы
          li.footer__nav-item
            a.footer__nav-link(href="##") FAQ

      ul.footer__contacts
        li.footer__contacts-title Контакты
        li.footer__contacts-item
          a.footer__contacts-link(href="tel:+79255536220") +7 925 553 62 20
        li.footer__contacts-item
          a.footer__contacts-link.footer__contacts-link--telegram(href="tel:+79255536220") Телеграм
        li.footer__contacts-item
          a.footer__contacts-link.footer__contacts-link--whatsapp(href="tel:+79255536220") WhatsApp

    img(src="./assets/img/icons/logo.svg").footer__logo

    a.footer__politics(href="##") Политика конфиденциальности
