section.accordion#faq
  .accordion__container.container

    h2.title-section Часто задаваемые вопросы

    ol.accordion__list

      li.accordion__item
        p.accordion__title Правила поведения
        .accordion__content
          ul
            li Руки должны быть свободны
            li Не толкать других участников и не держаться за них
            li Запрещено трогать провода и кидать вниз любые предметы
            li Не подходить близко к краю и не заходить за специальные ограждения
            li Проносить с собой алкогольные напитки запрещено. Так же не имеет смысла "для храбрости" принимать алкоголь перед экскурсией. Страх у вас не пропадет.
            li Находиться во время экскурсии в алкогольном опьянении запрещено!


      li.accordion__item
        p.accordion__title Какие есть ограничения по возрасту?
        p.accordion__content Ограничения по возрасту есть для детей - младше 8 лет нельзя. Дети старше 8 лет сопровождаются взрослыми, которые несут за них полную ответственность.

      li.accordion__item
        p.accordion__title Это безопасно?
        p.accordion__content Все крыши оборудованы специальным нескользящим покрытием, а так же имеются ограждения по краям крыши.

      li.accordion__item
        p.accordion__title Как все это проходит?
        .accordion__content
          p Включая подъем и спуск, прогулка длится около часа. Она начинается с экскурсионной части, когда гид рассказывает истории, которые, на его взгляд, будут интересны конкретной группе.
          p После этого группа фотографируется и наслаждается видом.

      li.accordion__item
        p.accordion__title Что делать, если по прогнозу дождь?
        p.accordion__content Маленький дождь не помеха для прогулки по крышам но если начнется ливень то экскурсия будет перенесена на ближайшее или удобное для вас время.


      li.accordion__item
        p.accordion__title Как одеться и обуться чтобы было комфортно?
        p.accordion__content Для вашего комфорта отдайте предпочтение удобной обуви и одежде. Надевайте обувь на плоской подошве (никаких каблуков и шпилек).
          | Так же джинсы или спортивные штаны будут оптимальным для вас вариантом. Слишком пышные наряды оставьте для другого случая.


      li.accordion__item
        p.accordion__title Есть ли на крыше уборная?
        p.accordion__content На крыше уборных нет, поэтому продумайте этот момент заранее.

      li.accordion__item
        p.accordion__title У вас есть подарочные сертификаты?
        p.accordion__content Да, у нас есть подарочные сертификаты. Чтобы заказать сертификат, Вы можете написать нам в мессенджеры или позвонить.

      li.accordion__item
        p.accordion__title Как оплатить?
        p.accordion__content Оплатить экскурсию можно наличными гиду либо бансковским переводом
